[Unit]
Description=The snappy web interface for your 3D printer
After=network.online.target
Wants=network.online.target

[Service]
Environment="PORT=NEWPORT"
Environment="BASEDIR=OCTOCONFIG/.NEWINSTANCE"
Environment="CONFIGFILE=OCTOCONFIG/.NEWINSTANCE/config.yaml"
User=OCTOUSER
ExecStart=OCTOPATH serve --config=${CONFIGFILE} --basedir=${BASEDIR} --port=${PORT}

[Install]
WantedBy=multi-user.target
